.filters {
  position: sticky;
  top: 0;
  background-color: var(--color-primary-dark);
  z-index: calc(var(--z-index-backdrop) - 10);
}

.number-matches {
  margin: 0 0 calc(var(--space-size) * 3);
  text-align: center;
  color: var(--color-primary-contrast-text);

  && button {
    display: inline;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--space-size);
  max-width: 100%;
}
