.card {
  display: flex;
  flex-direction: column;
}

.image {
  border-bottom: 1px solid;
  border-color: color-mix(
    in srgb,
    var(--color-white) 80%,
    var(--color-black) 20%
  );

  @media (prefers-color-scheme: dark) {
    border-color: color-mix(
      in srgb,
      var(--color-white) 20%,
      var(--color-black) 80%
    );
  }
}

.date {
  justify-self: end;
  align-content: end;
  margin-top: auto;

  p {
    && {
      color: var(--color-text-secondary);
      font-size: calc(var(--font-size) * 0.9);
    }
  }
}
