.card {
  display: flex;
  flex-direction: column;
}

.title {
  display: grid;
  grid-template-columns: auto min-content;
  gap: calc(var(--space-size) * 2);

  .end-adornment {
    display: grid;
    grid-template-columns: 24px 24px;
    gap: var(--space-size);

    .icon {
      width: 24px;

      img {
        display: block;
        width: 100%;
      }
    }
  }
}

.image {
  border-bottom: 1px solid;
  border-color: color-mix(
    in srgb,
    var(--color-white) 80%,
    var(--color-black) 20%
  );
  @media (prefers-color-scheme: dark) {
    border-color: color-mix(
      in srgb,
      var(--color-white) 20%,
      var(--color-black) 80%
    );
  }
}

.first-item {
  margin-top: var(--space-size);
}

.link {
  p {
    text-decoration: underline;
  }
}

.date {
  justify-self: end;
  align-content: end;
  margin-top: auto;

  p {
    && {
      color: var(--color-text-secondary);
      font-size: calc(var(--font-size) * 0.9);
    }
  }
}

.highlight {
  background-color: color-mix(in srgb, var(--color-warning-light) 80%, transparent 20%);
  color: inherit;
  border-radius: 2px; 
}
